@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Restaurant Rater</h1>
    <p class="lead">Get your restaurante rated on our site. Locate the TOP Restaurants to visit in your local area.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Restaurant Rater</h2>
        <p>
            Restaurant Rater MVC an example in Eleven Fifty Academy Class to learn how to build a MVC, so that you can get a job!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Top Restaurants</h2>
        <p>Show the top rated restaurants for you to eat at.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Find &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Rate the Restaurant</h2>
        <p>This rates the restaurants in your local area..</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">RATE IT &raquo;</a></p>
    </div>
</div>